<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat Da Burger</title>
    
	</head>
	<body>
    <img src ='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQRgle2nZY2vQ-ya7e4kK_xFFieIMUGkO40D4lDqqxHWTxWnDyI&usqp=CAU/200x200' alt='picture of burger'>
		{{{ body }}}
	</body>
</html>